@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  background: hsl(0, 0%, 97.5%);
  z-index: 0;
}
body button {
  padding: 0.9rem 2.2rem;
  border-radius: 25px;
  border: none;
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  font-size: 15px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.header {
  position: relative;
}
.header-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem;
}
.header-navbar__logo {
  width: auto;
}
.header-navbar__desktop {
  display: none;
}
.header-navbar__desktop-button {
  display: none;
}
.header-navbar__mobile-button {
  padding: 0.6rem 1.2rem;
  background: none;
  border: none;
  background-image: url("/assets/img/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.header-navbar__mobile-button--close {
  background-image: url("/assets/img/icon-close.svg");
}
.header-mobile__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 88%;
  margin: 1.5rem 0;
  padding: 2rem;
  background: hsl(0, 0%, 97.5%);
  border-radius: 4px;
  z-index: 2;
}
.header-mobile__menu a {
  color: hsl(233, 26%, 24%);
  text-decoration: none;
  font-size: 1.2rem;
}
.header .hide {
  display: none;
}

.fade {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgb(52, 52, 92), rgba(25, 25, 46, 0.1));
  z-index: 1;
}

.hide {
  display: none;
}

.main .initial {
  color: hsl(233, 26%, 24%);
  text-align: center;
  width: 100%;
}
.main .initial .initial-container-banner {
  width: 100%;
  height: 55vh;
}
.main .initial .initial-container-banner .initial__banner {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/assets/img/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  background-position-y: -11vh;
  overflow: hidden;
}
.main .initial .initial-container-banner .initial__banner img {
  width: 95%;
  position: absolute;
  top: -135px;
  left: 50%;
  transform: translate(-50%, 0);
}
.main .initial .initial-content-container {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  padding: 1rem 1.4rem 5rem;
  gap: 1rem;
}
.main .initial .initial-content-container .initial__title {
  padding: 0 6vw;
  color: hsl(233, 26%, 24%);
  font-size: 38px;
  line-height: 2.9rem;
}
.main .initial .initial-content-container .initial__description {
  font-size: 15px;
  color: hsl(233, 8%, 62%);
  line-height: 1.5rem;
}
.main .initial .initial-content-container .initial__button {
  margin-top: 1rem;
}
.main .benefits {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  text-align: center;
  background: hsl(210, 29%, 96%);
  gap: 3rem;
  padding: 4rem 1.3rem;
}
.main .benefits__content-container {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 1rem;
}
.main .benefits__content-container .benefits__title {
  font-size: 32px;
  color: hsl(233, 26%, 24%);
  line-height: 2.5rem;
  padding: 0 4rem;
}
.main .benefits__content-container .benefits__description {
  font-size: 16px;
  color: hsl(233, 8%, 62%);
  line-height: 1.5rem;
}
.main .benefits__box-contanier {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}
.main .benefits__box-contanier .benefits__box-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.3rem;
}
.main .benefits__box-contanier .benefits__box-item__title {
  font-size: 20px;
  color: hsl(233, 26%, 24%);
}
.main .benefits__box-contanier .benefits__box-item__description {
  font-size: 16px;
  color: hsl(233, 8%, 62%);
  line-height: 1.5rem;
}
.main .articles {
  background: hsl(0, 0%, 97.5%);
  padding: 4rem 0;
}
.main .articles__title-container .articles__title {
  font-size: 32px;
  color: hsl(233, 26%, 24%);
  text-align: center;
  margin-bottom: 2rem;
}
.main .articles__box-container .articles-box {
  background: hsl(0, 0%, 100%);
  width: 88%;
  border-radius: 6px;
  margin: 1.5rem auto;
  overflow: hidden;
}
.main .articles__box-container .articles-box:nth-child(1) .articles-box__imagem {
  background-image: url("/assets/img/image-currency.jpg");
}
.main .articles__box-container .articles-box:nth-child(2) .articles-box__imagem {
  background-image: url("/assets/img/image-restaurant.jpg");
}
.main .articles__box-container .articles-box:nth-child(3) .articles-box__imagem {
  background-image: url("/assets/img/image-plane.jpg");
}
.main .articles__box-container .articles-box:nth-child(4) .articles-box__imagem {
  background-image: url("/assets/img/image-confetti.jpg");
}
.main .articles__box-container .articles-box__imagem {
  background-size: cover;
  width: 100%;
  height: 35vh;
}
.main .articles__box-container .articles-box-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  padding: 2rem 2rem 3rem;
  gap: 0.6rem;
}
.main .articles__box-container .articles-box-sub__autor {
  font-size: 10px;
  color: hsl(233, 8%, 62%);
}
.main .articles__box-container .articles-box-sub__title {
  font-size: 16px;
  color: hsl(233, 26%, 24%);
  line-height: 1.2rem;
  text-decoration: none;
}
.main .articles__box-container .articles-box-sub__description {
  font-size: 12px;
  color: hsl(233, 8%, 62%);
  line-height: 1.1rem;
}

.footer {
  background: hsl(233, 26%, 24%);
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-first {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: 1.8rem;
}
.footer-first__icon-container {
  display: flex;
  gap: 1.2rem;
}
.footer-first__icon-container .footer-first__icon {
  padding: 0.1rem 0.7rem;
  background-repeat: no-repeat;
}
.footer-first__icon-container #icon-facebook {
  background-image: url("/assets/img/icon-facebook.svg");
}
.footer-first__icon-container #icon-youtube {
  background-image: url("/assets/img/icon-youtube.svg");
}
.footer-first__icon-container #icon-twitter {
  background-image: url("/assets/img/icon-twitter.svg");
}
.footer-first__icon-container #icon-pinterest {
  background-image: url("/assets/img/icon-pinterest.svg");
}
.footer-first__icon-container #icon-instagram {
  background-image: url("/assets/img/icon-instagram.svg");
}
.footer-middle {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}
.footer-middle a {
  text-decoration: none;
  color: hsl(0, 0%, 97.5%);
}
.footer-last {
  text-align: center;
}
.footer-last p {
  font-size: 14px;
  color: hsl(233, 8%, 62%);
  margin: 2rem 0 0;
}

@media screen and (min-width: 1360px) {
  body {
    font-size: 16px;
  }
  body button {
    letter-spacing: 0;
  }
  .header {
    background: hsl(0, 0%, 100%);
    z-index: 1;
  }
  .header-navbar {
    padding: 0 10rem;
  }
  .header-navbar__desktop {
    display: flex;
    gap: 2rem;
  }
  .header-navbar__desktop a {
    color: hsl(233, 8%, 62%);
    text-decoration: none;
    border-bottom: 4px solid white;
    padding: 1.6rem 0;
  }
  .header-navbar__desktop a:hover {
    color: hsl(233, 26%, 24%);
    border-bottom: 4px solid;
    border-image: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%)) 1;
  }
  .header-navbar__desktop-button {
    display: block;
  }
  .header-navbar__desktop-button:hover {
    background: linear-gradient(90deg, hsla(136, 45%, 58%, 0.6), hsla(192, 70%, 51%, 0.6));
  }
  .header-navbar__mobile-button {
    display: none;
  }
  .main {
    overflow: hidden;
  }
  .main .initial {
    height: 90vh;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .main .initial .initial-container-banner {
    grid-column: 2/3;
    grid-row: 1/4;
    height: 100%;
  }
  .main .initial .initial-container-banner .initial__banner {
    background-image: url("/assets/img/bg-intro-desktop.svg");
    background-size: 180%;
    background-position: none;
    background-position-y: -39vh;
    background-position-x: -5vw;
    overflow: visible;
  }
  .main .initial .initial-container-banner .initial__banner img {
    width: 100%;
    top: -110px;
    left: 67%;
  }
  .main .initial .initial-content-container {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: flex-start;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0 7vw 0 10vw;
    text-align: start;
  }
  .main .initial .initial-content-container .initial__title {
    font-size: 50px;
    line-height: 4rem;
    padding: 0;
  }
  .main .initial .initial-content-container .initial__description {
    font-size: 18px;
  }
  .main .initial .initial-content-container .initial__button:hover {
    background: linear-gradient(90deg, hsla(136, 45%, 58%, 0.6), hsla(192, 70%, 51%, 0.6));
  }
  .main .benefits {
    text-align: start;
    gap: 4rem;
    padding: 14vh 11vw;
  }
  .main .benefits__content-container {
    gap: 1.8rem;
    width: 60%;
  }
  .main .benefits__content-container .benefits__title {
    font-size: 38px;
    padding: 0;
  }
  .main .benefits__content-container .benefits__description {
    font-size: 18px;
    line-height: 1.8rem;
  }
  .main .benefits__box-contanier {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .main .benefits__box-contanier .benefits__box-item {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: flex-start;
    gap: 2rem;
  }
  .main .benefits__box-contanier .benefits__box-item__title {
    font-size: 22px;
  }
  .main .benefits__box-contanier .benefits__box-item__description {
    font-size: 15px;
  }
  .main .articles {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    padding: 14vh 11vw;
    gap: 3rem;
  }
  .main .articles__title-container .articles__title {
    font-size: 35px;
    text-align: start;
    margin-bottom: 0;
  }
  .main .articles__box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .main .articles__box-container .articles-box {
    width: auto;
    margin: 0;
  }
  .main .articles__box-container .articles-box__imagem {
    height: 30vh;
  }
  .main .articles__box-container .articles-box-sub {
    padding: 2rem 1rem 1.5rem;
  }
  .main .articles__box-container .articles-box-sub__title:hover {
    color: hsl(136, 65%, 51%);
  }
  .main .articles__box-container .articles-box-sub__description {
    font-size: 13px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
  }
  .footer-first {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: flex-start;
    gap: 3rem;
  }
  .footer-first__icon-container {
    display: flex;
    gap: 1.2rem;
  }
  .footer-middle {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin: 0rem;
    height: 12vh;
    width: 25vw;
    margin-right: 9vw;
  }
  .footer-middle a:hover {
    color: hsl(136, 65%, 51%);
  }
  .footer-last {
    text-align: end;
  }
  .footer-last p {
    font-size: 14px;
    color: hsl(233, 8%, 62%);
    margin: 2rem 0 0;
  }
  .footer-last__button:hover {
    background: linear-gradient(90deg, hsla(136, 45%, 58%, 0.6), hsla(192, 70%, 51%, 0.6));
  }
}

/*# sourceMappingURL=index.css.map */
