@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

// Variables
    // Fonts
$main-font: 'Public Sans', sans-serif;

    // Colors
$primary-font-color: hsl(233, 26%, 24%);
$secundary-font-color: hsl(233, 8%, 62%);
$button-font-color: rgba(255, 255, 255, 0.9);
$gradient: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
$gradient-active-status: linear-gradient(90deg, hsla(136, 45%, 58%, 0.6), hsl(192, 70%, 51%, 0.6));
$gradient-fade: linear-gradient(rgba(52, 52, 92, 1), rgba(25, 25, 46, 0.1));
$active-status: hsl(136, 65%, 51%);
$active-status-nav: hsl(233, 26%, 24%);
$section-background: hsl(210, 29%, 96%);
$body-background: hsl(0, 0%, 97.5%);
$box-background: hsl(0, 0%, 100%);

// Mixins
@mixin flexbox($display, $direction, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    background: $body-background;
    z-index: 0;

    button {
        padding: 0.9rem 2.2rem;
        border-radius: 25px;
        border: none;
        background: $gradient;
        font-size: 15px;
        color: $button-font-color;
        font-weight: 700;
        letter-spacing: 0.05rem;
    }
}

.header {
    position: relative;

    &-navbar {
        @include flexbox(flex, row, space-between, center);
        padding: 1.2rem 1rem;
    
        &__logo {
            width: auto;
        }
    
        &__desktop {
            display: none;
        }
    
        &__desktop-button {
            display: none;
        }
    
        &__mobile-button {
            padding: 0.6rem 1.2rem;
            background: none;
            border: none;
            background-image: url("/assets/img/icon-hamburger.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    
        &__mobile-button--close {
            background-image: url("/assets/img/icon-close.svg");
        }
    }
    
    &-mobile__menu {
        @include flexbox(flex, column, center, center);
        gap: 1.5rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 88%;
        margin: 1.5rem 0;
        padding: 2rem;
        background: $body-background;
        border-radius: 4px;
        z-index: 2;
    
        a {
            color: $primary-font-color;
            text-decoration: none;
            font-size: 1.2rem;
        }
    }

    .hide {
        display: none;
    }
}

.fade {
    width: 100%;
    height: 100%;
    position: absolute;
    background: $gradient-fade;
    z-index: 1;
}

.hide {
    display: none;
}

.main {

    .initial {
        color: $primary-font-color;
        text-align: center;
        width: 100%;
        
        .initial-container-banner {
            width: 100%;
            height: 55vh;

            .initial__banner {
                width: 100%;
                height: 100%;
                position: relative;
                background-image: url("/assets/img/bg-intro-mobile.svg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: left top;
                background-position-y: -11vh;
                overflow: hidden;

                img {
                    width: 95%;
                    position: absolute;
                    top: -135px;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }
        }

        .initial-content-container {
            @include flexbox(flex, column, none, center);
            padding: 1rem 1.4rem 5rem;
            gap: 1rem;

            .initial__title {
                padding: 0 6vw;
                color: $primary-font-color;
                font-size: 38px;
                line-height: 2.9rem;
            }
        
            .initial__description {
                font-size: 15px;
                color: $secundary-font-color;
                line-height: 1.5rem;
            }

            .initial__button {
                margin-top: 1rem;
            }
        }
    }

    .benefits {
        @include flexbox(flex, column, none, none);
        text-align: center;
        background: $section-background;
        gap: 3rem;
        padding: 4rem 1.3rem;

        &__content-container {
            @include flexbox(flex, column, none, none);
            gap: 1rem;

            .benefits__title {
                font-size: 32px;
                color: $primary-font-color;
                line-height: 2.5rem;
                padding: 0 4rem;
            }
        
            .benefits__description {
                font-size: 16px;
                color: $secundary-font-color;
                line-height: 1.5rem;
            }
        }
        
        &__box-contanier {
            @include flexbox(flex, column, space-around, center);
            gap: 3rem;

            .benefits__box-item {
                @include flexbox(flex, column, space-around, center);
                gap: 1.3rem;

                &__title {
                    font-size: 20px;
                    color: $primary-font-color;
                }
        
                &__description {
                    font-size: 16px;
                    color: $secundary-font-color;
                    line-height: 1.5rem;
                }
            }
        }    
    }

    .articles {
        background: $body-background;
        padding: 4rem 0;

        &__title-container {
            .articles__title {
                font-size: 32px;
                color: $primary-font-color;
                text-align: center;
                margin-bottom: 2rem;
            }
        }

        &__box-container {
            .articles-box {
                background: $box-background;
                width: 88%;
                border-radius: 6px;
                margin: 1.5rem auto;
                overflow: hidden;

                &:nth-child(1) .articles-box__imagem {
                    background-image: url('/assets/img/image-currency.jpg');
                }

                &:nth-child(2) .articles-box__imagem {
                    background-image: url('/assets/img/image-restaurant.jpg');
                }

                &:nth-child(3) .articles-box__imagem {
                    background-image: url('/assets/img/image-plane.jpg');
                }

                &:nth-child(4) .articles-box__imagem {
                    background-image: url('/assets/img/image-confetti.jpg');
                }

                &__imagem {
                    background-size: cover;
                    width: 100%;
                    height: 35vh;
                }

                &-sub {
                    @include flexbox(flex, column, space-between, none);
                    padding: 2rem 2rem 3rem;
                    gap: 0.6rem;

                    &__autor {
                        font-size: 10px;
                        color: $secundary-font-color;
                    }

                    &__title {
                        font-size: 16px;
                        color: $primary-font-color;
                        line-height: 1.2rem;
                        text-decoration: none;
                    }

                    &__description {
                        font-size: 12px;
                        color: $secundary-font-color;
                        line-height: 1.1rem;
                    }
                }
            }
        }
    }
}

.footer {
    background: $primary-font-color;
    padding: 2.5rem 0;
    @include flexbox(flex, column, space-between, center);

    &-first {
        @include flexbox(flex, column, none, center);
        gap: 1.8rem;

        &__icon-container {
            display: flex;
            gap: 1.2rem;

            .footer-first__icon {
                padding: 0.1rem 0.7rem;
                background-repeat: no-repeat;
                
                // &:hover {
                //     background: $active-status;
                // }
            }

            #icon-facebook {
                background-image: url('/assets/img/icon-facebook.svg');
            }

            #icon-youtube {
                background-image: url('/assets/img/icon-youtube.svg');
            }

            #icon-twitter {
                background-image: url('/assets/img/icon-twitter.svg');
            }

            #icon-pinterest {
                background-image: url('/assets/img/icon-pinterest.svg');
            }

            #icon-instagram {
                background-image: url('/assets/img/icon-instagram.svg');
            }
        }
    }

    &-middle {
        @include flexbox(flex, column, none, center);
        gap: 1rem;
        margin: 2rem;

        a {
            text-decoration: none;
            color: $body-background;
        }
    }

    &-last {
        text-align: center;

        p {
            font-size: 14px;
            color: $secundary-font-color;
            margin: 2rem 0 0;
        }
    }
}

@media screen and (min-width: 1360px) {
    body {
        font-size: 16px;
    
        button {
            letter-spacing: 0;
        }
    }

    .header {
        background: $box-background;
        z-index: 1;
    
        &-navbar {
            padding: 0 10rem;
        
            &__desktop {
                display: flex;
                gap: 2rem;

                a {
                    color: $secundary-font-color;
                    text-decoration: none;
                    border-bottom: 4px solid white;
                    padding: 1.6rem 0;

                    &:hover {
                        color: $active-status-nav;
                        border-bottom: 4px solid;
                        border-image: $gradient 1;
                    }
                }
            }
        
            &__desktop-button {
                display: block;
                
                &:hover {
                    background: $gradient-active-status;
                }
            }
        
            &__mobile-button {
                display: none;
            }
        }
    }

    .main {
        overflow: hidden;

        // Initial section
        .initial {
            height: 90vh;
            padding-bottom: 0;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr 1fr 1fr;

            .initial-container-banner {
                grid-column: 2/3;
                grid-row: 1/4;
                height: 100%;

                .initial__banner {
                    background-image: url("/assets/img/bg-intro-desktop.svg");
                    background-size: 180%;
                    background-position: none;
                    background-position-y: -39vh;
                    background-position-x: -5vw;
                    overflow: visible;

                    img {
                        width: 100%;
                        top: -110px;
                        left: 67%;
                    }
                }
            }
            
            .initial-content-container {
                @include flexbox(flex, column, none, flex-start);
                grid-column: 1/2;
                grid-row: 2/3;
                padding: 0 7vw 0 10vw;
                text-align: start;

                .initial__title {
                    font-size: 50px;
                    line-height: 4rem;
                    padding: 0;
                }
            
                .initial__description {
                    font-size: 18px;
                }

                .initial__button:hover {
                    background: $gradient-active-status;
                }
            }
        }

        .benefits {
            text-align: start;
            gap: 4rem;
            padding: 14vh 11vw;

            &__content-container {
                gap: 1.8rem;
                width: 60%;

                .benefits__title {
                    font-size: 38px;
                    padding: 0;
                }
        
                .benefits__description {
                    font-size: 18px;
                    line-height: 1.8rem;
                }
            }
            
            &__box-contanier {
                @include flexbox(flex, row, space-between, flex-start);

                .benefits__box-item {
                    @include flexbox(flex, column, none, flex-start);
                    gap: 2rem;
            
                    &__title {
                        font-size: 22px;
                    }
            
                    &__description {
                        font-size: 15px;
                    }
                }
            }
        }

        .articles {
            @include flexbox(flex, column, none, none);
            padding: 14vh 11vw;
            gap: 3rem;
            
            &__title-container {
                .articles__title {
                    font-size: 35px;
                    text-align: start;
                    margin-bottom: 0;
                }
            }
            
            &__box-container {
                @include flexbox(flex, row, space-between, flex-start);
                gap: 1.5rem;

                .articles-box {
                    width: auto;
                    margin: 0;
    
                    &__imagem {
                        height: 30vh;
                    }
        
                    &-sub {
                        padding: 2rem 1rem 1.5rem;

                        &__title {
                            &:hover {
                                color: $active-status;
                            }
                        }
        
                        &__description {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    .footer {
        @include flexbox(flex, row, space-around, center);
        padding: 3rem 0;

        &-first {
            @include flexbox(flex, column, none, flex-start);
            gap: 3rem;
    
            &__icon-container {
                display: flex;
                gap: 1.2rem;
            }
        }
    
        &-middle {
            @include flexbox(flex, column, none, flex-start);
            flex-wrap: wrap;
            row-gap: 1rem;
            margin: 0rem;
            height: 12vh;
            width: 25vw;
            margin-right: 9vw;
    
            a:hover {
                color: $active-status;
            }
        }
    
        &-last {
            text-align: end;

            p {
                font-size: 14px;
                color: $secundary-font-color;
                margin: 2rem 0 0;
            }

            &__button:hover {
                background: $gradient-active-status;
            }
        }
    }
}